@import
"minima/vars",
"minima/base",
"minima/layout",
"minima/header",
"minima/syntax-highlighting",
"lightbox"
;

// .page-content {
//     background-color: lighten($bg-color, 10%);
// }


// Game page styles
.game-page {
    .game-wrapper {
        display: flex;
        justify-content: space-between;
        margin-bottom: 1em;

        @include media-query($on-laptop) {
            flex-direction: column;
        }

        .description {
            flex: 1;
            padding-right: 1em;
        }

        .video {
            flex: none;
            // iframe {
            //     width: 100%;
            //     height: 300px;
            // }
        }

    }

    .screenshot-list {
        display: flex;
        flex-wrap: wrap;

        .item {
            flex-shrink: 0;
            width: 200px;
            height: 200px;

            margin-right: 1em;
            margin-bottom: 1em;

            a {
                overflow: hidden;
                background-size: cover;
                background-position: center;

                display: block;
                width: 100%;
                height: 100%;
            }
        }
    }
}


// Team page styles

.member-list {
    margin-top: 3em;
    display: flex;
    flex-wrap: wrap;
    // justify-content: space-between;

    .item {
        flex: none;
        text-align: center;
        // flex-shrink: 0;
        width: 200px;
        height: 300px;

        margin-right: 2em;
        margin-bottom: 2em;
    }
}


// Press page

.image-list {
    display: flex;
    flex-wrap: wrap;

    .item {
        flex-shrink: 0;
        width: 200px;
        height: 200px;

        margin-right: 1em;
        margin-bottom: 1em;

        a {
            overflow: hidden;
            background-size: contain;
            background-position: center;
            background-repeat: no-repeat;

            display: block;
            width: 100%;
            height: 100%;
        }
    }
}
