<!DOCTYPE html>
<html lang="{{ page.lang | default: site.lang | default: "en" }}">

  {%- include head.html -%}

  <body>

    {%- include header.html -%}

    <main class="page-content {{ page.pageclass }}" aria-label="Content">
      <div class="wrapper">
        {{ content }}
      </div>
    </main>

    {%- include footer.html -%}

    <script type="text/javascript" src="/assets/script.js"></script>
    <script type="text/javascript" src="/assets/lightbox.min.js"></script>
  </body>

</html>
